h1 {
    font-family:'Courier New', Courier, monospace;
    color: gray;
    font-size: 35px;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: gray;
}

body {
    background-color: black;
}

#aboutsection {
    padding-top: 60px;
    padding-bottom: 600px;
}

#logo {
    width: auto;
    height: 75px;
}


#aboutpic {
    height: auto;
    width: 600px;
    padding-left: 380px;
    padding-right: 75px;
    padding-top: 25px;
    float: left;
}

#selfpic {
    height: auto;
    width: 600px;
}

#aboutparagraph {
    padding-right: 380px;
    padding-left: 25px;
}

.project {
    padding-bottom: 100px;  
    display: inline-block;
}

.imagecontainer {
    float: left;
    width: 25%; 
    padding-left: 27%;
}

.image {
    height: auto;
    width: 600px;
    text-align: right;
}

.text {
    width: 25%;
    float: right;
    padding-left: 310px;
}

.desc {
    font-size: 20px;
    width: 500px;
    word-wrap: normal;
}