h1 {
    font-family:'Courier New', Courier, monospace;
    color: gray;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: gray;
    text-align: center;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: gray;
}

body {
    background-color: black;
}

#aboutsection {
    padding-top: 60px;
}

#logo {
    width: auto;
    height: 75px;
}

#abouttitle {
    padding: 30px;
}

#aboutpic {
    height: auto;
    width: 600px;
    padding-left: 380px;
    padding-right: 75px;
    padding-top: 25px;
    float: left;
}

#selfpic {
    height: auto;
    width: 600px;
}

#aboutparagraph {
    padding-right: 380px;
    padding-left: 25px;
}